/* These are the styles for ai2html */

#g-cybertruck-project-laptop,
#g-cybertruck-project-medium,
#g-cybertruck-project-mobile {
    display: none;
}

@media (max-width: 490px) {
    #g-cybertruck-project-mobile {
        display: block;
    }
}

@media (min-width: 490px) and (max-width: 620px) {
    #g-cybertruck-project-laptop {
        display: block;
    }
}

@media (min-width: 620px) {
    #g-cybertruck-project-medium {
        display: block;
    }
}

.header {
    max-width: auto;
    padding: 1.5rem;
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#container1 {
    max-width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}